# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
app/DB_proyecto1.db
proyecto03v/lib64
proyecto03v/pyvenv.cfg
proyecto03v/bin/activate
proyecto03v/bin/activate.csh
proyecto03v/bin/activate.fish
proyecto03v/bin/Activate.ps1
proyecto03v/bin/easy_install
proyecto03v/bin/easy_install-3.8
proyecto03v/bin/email_validator
proyecto03v/bin/flask
proyecto03v/bin/pip
proyecto03v/bin/pip3
proyecto03v/bin/pip3.8
proyecto03v/bin/python
proyecto03v/bin/python3
proyecto03v/include/site/python3.8/greenlet/greenlet.h
proyecto03v/share/python-wheels/appdirs-1.4.3-py2.py3-none-any.whl
proyecto03v/share/python-wheels/CacheControl-0.12.6-py2.py3-none-any.whl
proyecto03v/share/python-wheels/certifi-2019.11.28-py2.py3-none-any.whl
proyecto03v/share/python-wheels/chardet-3.0.4-py2.py3-none-any.whl
proyecto03v/share/python-wheels/colorama-0.4.3-py2.py3-none-any.whl
proyecto03v/share/python-wheels/contextlib2-0.6.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/distlib-0.3.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/distro-1.4.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/html5lib-1.0.1-py2.py3-none-any.whl
proyecto03v/share/python-wheels/idna-2.8-py2.py3-none-any.whl
proyecto03v/share/python-wheels/ipaddr-2.2.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/lockfile-0.12.2-py2.py3-none-any.whl
proyecto03v/share/python-wheels/msgpack-0.6.2-py2.py3-none-any.whl
proyecto03v/share/python-wheels/packaging-20.3-py2.py3-none-any.whl
proyecto03v/share/python-wheels/pep517-0.8.2-py2.py3-none-any.whl
proyecto03v/share/python-wheels/pip-20.0.2-py2.py3-none-any.whl
proyecto03v/share/python-wheels/pkg_resources-0.0.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/progress-1.5-py2.py3-none-any.whl
proyecto03v/share/python-wheels/pyparsing-2.4.6-py2.py3-none-any.whl
proyecto03v/share/python-wheels/requests-2.22.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/retrying-1.3.3-py2.py3-none-any.whl
proyecto03v/share/python-wheels/setuptools-44.0.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/six-1.14.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/toml-0.10.0-py2.py3-none-any.whl
proyecto03v/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl
proyecto03v/share/python-wheels/webencodings-0.5.1-py2.py3-none-any.whl
proyecto03v/share/python-wheels/wheel-0.34.2-py2.py3-none-any.whl
flask/pyvenv.cfg
flask/bin/activate
flask/bin/activate_this.py
flask/bin/activate.csh
flask/bin/activate.fish
flask/bin/activate.ps1
flask/bin/activate.xsh
flask/bin/easy_install
flask/bin/easy_install-3.8
flask/bin/easy_install3
flask/bin/pip
flask/bin/pip-3.8
flask/bin/pip3
flask/bin/pip3.8
flask/bin/python
flask/bin/python3
flask/bin/python3.8
flask/bin/wheel
flask/bin/wheel-3.8
flask/bin/wheel3
app/DB_proyecto1.db
aws/install
aws/README.md
aws/THIRD_PARTY_LICENSES
awscliv2.zip
app/static/images_concurso/big-data.png
app/static/images_concurso/informacion.png
