
{% extends "base_template.html" %}
{% block title %}principal{% endblock %}
{% block content %}
<link href="../static/sytles/signin.css" rel="stylesheet">
<img class="logo-centro"  src="../static/sytles/supervoices.png" alt="">
    
    <h1>Obtén la voz perfecta que necesitas. Rápidamente.</h1>
    <br>
    <h2>Encuentra tu locutor para todo propósito s3 </h2>

    <br>
    <br>

    <h2>Encuentra tu locutor para todo propósito</h2>
    
        <li>Comerciales y publicidad</li>
        <li>Presentación y material educativo</li>
        <li>Audiolibros</li>
        <li>Podcasts</li>
        
    <h3>¿Por qué Súper Voices?</h3>
    <li>El servicio se encuentra disponible 24/7</li>
    <li>Puedes adjuntar audios en cualquier tipo de archivo</li>
    <li>Es posible participar en varios concursos</li>
    <li>Te enviaremos un correo electrónico para indicarte que tu audio se encuentra procesado adecuadamente</li>

{% endblock %}
